

































































































































































































































































































































































































/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) {}

/* // X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {}

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {}
.bg-green {
    background-color: #00745F;
}
.text-green {
    color: #00745F;
}
.bg-pink {
    background-color: #FABDB8;
}
.btn-sq {
    width: 66px;
    height: 66px;
}
.map {
    width: 100%;
    height: 640px;
    background: rgb(255, 255, 255);
    background: -moz-linear-gradient(0deg, rgba(255, 255, 255, 1) 54%, rgba(227, 237, 249, 1) 100%);
    background: -webkit-linear-gradient(0deg, rgba(255, 255, 255, 1) 54%, rgba(227, 237, 249, 1) 100%);
    background: linear-gradient(0deg, rgba(255, 255, 255, 1) 54%, rgba(227, 237, 249, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff", endColorstr="#e3edf9", GradientType=1);
    position: relative;
    overflow: hidden;
}
@media (min-width: 1920px) {
.map {
        height: 1080px;
        width: 1920px;
}
}
.mapBackground {
    height: 1080px;
    width: 1920px;
    background-size: cover;
    background-repeat: no-repeat;
    cursor: grab;
}
.map__footer {
    background-color: #fff;
    border: 1px #F6F6F6 solid;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 0;
    list-style: none;
    margin: 0 !important;
    display: flex;
    justify-content: space-around;
}
.map__footer__item {
    height: 75px;
    text-align: center;
    color: #00745F;
    padding-top: 15px;
    width: 100px;
    cursor: pointer;
}
.map__footer__item:hover svg {
    border-color: #043C2C;
    fill: #043C2C;
}
.map__footer__item:hover svg * {
    fill: #043C2C;
}
.map__footer__item:hover h3 {
    color: #043C2C;
}
.map__footer h3 {
    font-size: 20px !important;
    margin-top: 5px;
    transition-duration: 0.2s;
}
.map__footer__item svg {
    height: 35px;
    width: 35px;
    border: 1.5px solid #00745F;
    margin: auto;
    padding: 5px;
    border-radius: 100%;
    transition-duration: 0.2s;
}
.map__footer p {
    font-size: 11px !important;
}
@media (min-width: 1920px) {
.map__footer {
        background-color: #00745F;
        height: 168px;
        padding-left: 200px;
        justify-content: flex-start;
        border: none;
}
.map__footer__item svg {
        height: 70px;
        width: 70px;
        margin: auto;
        border-color: #fff;
        border-width: 3px;
        padding: 10px;
}
.map__footer__item {
        width: 170px;
        color: #fff;
        padding-top: 2.5em
}
.inactiveIcon * {
        fill: #fff;
        color: #fff;
}
}
@media (max-width: 1920px) {
.map__footer__item.activeIcon {
        border-top: 3px #043C2C solid;
        margin-top: -3px;
}
.map__footer p {
        font-weight: bolder !important;
        text-transform: capitalize;
        margin-top: -5px;
}
.inactiveIcon * {
        fill: #043C2C;
        color: #043C2C;
}
}
.fillPink {
    fill: #FABDB8 !important;
    color: #FABDB8 !important;
}
.fillGreen {
    fill: #00745F !important;
    color: #00745F !important;
}
.activeIcon * {
    color: #FABDB8 !important;
}
.activeIcon svg {
    background-color: #B77670;
    border-color: #043C2C;
}
button {
    cursor: pointer;
}
.filterButton {
    width: auto;
    position: absolute;
    bottom: 50px;
    left: 50px;
    font-size: 30px;
    display: flex;
    align-items: center;
    cursor: pointer;
}
.filterButton h3 {
    margin: 0;
    padding-bottom: 0;
    padding-right: 30px;
}
.locations {
    position: relative;
    height: 100%;
    width: 100%;
}
.locations__marker {
    position: absolute;
    max-width: 170px;
    text-align: center;
    cursor: pointer;
}
.locations__marker:hover {
    transition-duration: 0.2s;
    transform: scale(1.1);
}
.locations__marker__icon {
    border-radius: 100px;
    position: relative;
    padding: 8px;
    margin: auto;
    height: 48px;
    width: 48px;
    border: 1px #fff solid;
}
.locations__marker__icon svg {
    position: absolute;
    width: 30px;
    object-fit: contain;
    left: 0;
    right: 0;
    margin: auto;
    top: 0;
    bottom: 0;
}
.locations__marker__title {
    color: #2c2e2c;
    font-size: 26px;
    margin-top: 13px;
}
.infoWindowSmall {
    border: 1px #F6F6F6 solid;
    width: calc(100%-1em);
    position: absolute;
    bottom: 100px;
    box-shadow: 0 1px 1px 0 rgba(187, 185, 185, 0.50);
    min-height: 111px;
    left: 1em;
    right: 1em;
    background-color: #fff;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
}
.infoWindowSmall__inner {
    padding: 1em 3em 1em 1em;
    display: inline-block;
}
.infoWindowSmall__inner p {
    line-height: 1 !important;
}
.infoWindowSmall__inner p:last-of-type() {
    margin-bottom: 0 !important;
}
.infoWindow {
    position: absolute;
    width: 390px;
    top: 139px;
    min-height: 400px;
    background-color: #fff;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 3px 2px;
    transform: translateX(-25%);
}
.infoWindow__slider {
    height: 285px;
    position: relative;
    background-color: #000;
}
.arrows {
    position: absolute;
    top: 50%;
    width: 22px;
    height: 7px;
    z-index: 10;
    cursor: pointer;
}
.swiper-container-horizontal>*>.slider-pagination-bullet {
    background: none;
    border-radius: 100%;
    display: inline-block;
    height: 11px !important;
    opacity: 1 !important;
    width: 11px !important;
    cursor: pointer;
    margin: 0 5px;
}
.slider-pagination-bullet-active {
    background-color: #fff !important;
}
.arrows * {
    fill: #fff;
}
.arrows.left {
    left: 20px;
    transform: rotate(90deg);
}
.arrows.right {
    right: 20px;
    transform: rotate(-90deg);
}
.infoWindow__slider img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.8;
}
.infoWindow__inner__item {
    border-bottom: 3px #FABDB8 solid;
    display: block;
    padding: 17px 0 15px 0;
    cursor: pointer;
    position: relative;
}
.infoWindow__inner__item__arrow {
    position: absolute;
    top: 18px;
    right: 0;
    height: 17px;
    width: 27px;
    padding: 0;
}
.infoWindow__inner__item__content {
    /* padding-top: 17px; */
    display: block;
}
.infoWindow__inner__item h3,
.infoWindow__inner__item p {
    padding: 0;
    margin: 0;
}
.infoWindow__inner__item p {
    line-height: 1.2;
}
.infoWindow__close {
    position: absolute;
    top: 20px;
    z-index: 10;
    right: 20px;
    width: 20px;
    cursor: pointer;
    height: 20px;
}
.darkBtn * {

    stroke: black;
}
.slider-pagination-bullet {
    background: transparent;
    border: 3px solid #fff;
}
.infoWindow__title {
    position: absolute;
    color: #fff;
    top: 20px;
    left: 20px;
    max-width: 230px;
    z-index: 20;
}
.infoWindow__inner {
    padding: 0 20px 10px 20px;
    color: #005A44;
}
@media (max-width: 800px) {
.infoWindow {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        top: unset;
        min-height: 400px;
        background-color: #fff;
        border-radius: 10px;
        overflow: hidden;
        box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 3px 2px;
        transform: translateX(0);
}
}
.map__title {
    position: absolute;
    top: 50px;
    z-index: 20;
    left: 50px;
}
.map__title__leaf svg {
    width: 124px;
    height: 118px
}
@media (max-width: 1920px) {
.map__title {
        left: 5px;
        top: 5px;
}
.map__title h1 {
        display: none !important;
}
.map__title__leaf svg {
        width: 60px;
        height: 70px
}
}
.bigLeafActive * {
    fill: #FABDB8;
}
.map__title h1 {
    margin-bottom: 0;
}
.v-enter-active,
.v-leave-active {
    transition: opacity 0.5s ease;
}
.bounce-enter-active {
    animation: bounce-in 0.5s;
}
.bounce-leave-active {
    animation: bounce-in 0.5s reverse;
}
.zoomer {
    position: absolute;
    top: 10px;
    right: 10px;
    height: 57px;
    z-index: 4;
    width: 30px;
    background: #FFF4F3;
    box-shadow: 0 1px 1px 0 rgba(153, 153, 153, 0.50);
    border-radius: 5.2px;
}
.zoomer button {
    display: block;
    height: 28.5px;
    font-size: 1.4em;
    width: 30px;
}
@keyframes bounce-in {
0% {
        transform: scale(0.8);
        opacity: 0;
}
50% {
        transform: scale(1.25);
        opacity: 0.5;
}
100% {
        transform: scale(1);
        opacity: 1;
}
}

