
#cookie-law-info-again {
    display: none !important;
}
.bg-green {
    background-color: #00745F;
}
.text-green {
    color: #00745F;
}
.bg-pink {
    background-color: #FABDB8;
}
.btn-sq {
    width: 66px;
    height: 66px;
}
.map {
    height: 1080px;
    width: 1920px;
    border: #000;
    background-color: #bed8a7;
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
}
.map__footer {
    background-color: #00745F;
    width: 100%;
    height: 168px;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 0;
    list-style: none;
    margin: 0 !important;
    display: flex;
    padding-left: 200px;
}
.map__footer__item {
    padding-top: 10px;
    height: auto;
    text-align: center;
    color: #fff;
    padding-top: 2.5em;
    width: 149px;
    cursor: pointer;
    transition-duration: 0.2s;
}
.map__footer__item:hover {
    transform: scale(1.1);
}
.map__footer h3 {
    font-size: 20px !important;
    margin-top: 5px;
}
.map__footer__item svg {
    height: 70px;
    width: 70px;
    margin: auto;
}
.fillPink {
    fill: #FABDB8 !important;
    color: #FABDB8 !important;
}
.fillGreen {
    fill: #00745F !important;
    color: #00745F !important;
}
.inactiveIcon * {
    fill: #fff !important;
    color: #fff !important;
}
.activeIcon * {
    fill: #FABDB8 !important;
    color: #FABDB8 !important;
}
button {
    cursor: pointer;
}
.filterButton {
    width: auto;
    position: absolute;
    bottom: 50px;
    left: 50px;
    font-size: 30px;
    display: flex;
    align-items: center;
    cursor: pointer;
}
.filterButton h3 {
    margin: 0;
    padding-bottom: 0;
    padding-right: 30px;
}
.locations {
    position: relative;
    height: 100%;
    width: 100%;
}
.locations__marker {
    position: absolute;
    max-width: 170px;
    text-align: center;
    cursor: pointer;
}
.locations__marker:hover {
    transition-duration: 0.2s;
    transform: scale(1.1);
}
.locations__marker__icon {
    border-radius: 100px;
    position: relative;
    padding: 8px;
    margin: auto;
    height: 48px;
    width: 48px;
    border: 1px #fff solid;
}
.locations__marker__icon svg {

    position: absolute;
    width: 30px;
    object-fit: contain;
    left: 0;
    right: 0;
    margin: auto;
    top: 0;
    bottom: 0;
}
.locations__marker__title {
    color: #2c2e2c;
    font-size: 26px;
    margin-top: 13px;
}
.infoWindow {
    position: absolute;
    width: 390px;
    top: 139px;
    min-height: 400px;
    background-color: #fff;
    border-radius: 10px;
    overflow: hidden;
    transform: translateX(-25%);
}
.infoWindow__slider {
    height: 285px;
    position: relative;
    background-color: #00745F;
}
.infoWindow__slider img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.infoWindow__inner__item {
    border-bottom: 3px #FABDB8 solid;
    display: block;
    padding: 17px 0 15px 0;
    cursor: pointer;
    position: relative;
}
.infoWindow__inner__item__arrow {
    position: absolute;
    top: 18px;
    right: 0;
    height: 17px;
    width: 27px;
    padding: 0;
}
.infoWindow__inner__item__content {
    /* padding-top: 17px; */
    display: block;
}
.infoWindow__inner__item h3,
.infoWindow__inner__item p {
    padding: 0;
    margin: 0;
}
.infoWindow__inner__item p {
    line-height: 1.2;
}
.infoWindow__close {
    position: absolute;
    top: 20px;
    z-index: 10;
    right: 20px;
    width: 30px;
    cursor: pointer;
    height: 30px;
}
.infoWindow__title {
    position: absolute;
    color: #fff;
    top: 20px;
    left: 20px;
    max-width: 230px;
    z-index: 20;
}
.infoWindow__inner {
    padding: 0 20px 10px 20px;
    color: #005A44;
}
.map__title {
    position: absolute;
    top: 50px;
    left: 50px;
}
.map__title h1 {
    margin-bottom: 0;
}
.v-enter-active,
.v-leave-active {
    transition: opacity 0.5s ease;
}
.bounce-enter-active {
    animation: bounce-in 0.5s;
}
.bounce-leave-active {
    animation: bounce-in 0.5s reverse;
}
@keyframes bounce-in {
0% {
        transform: scale(0.8);
        opacity: 0;
}
50% {
        transform: scale(1.25);
        opacity: 0.5;
}
100% {
        transform: scale(1);
        opacity: 1;
}
}

